# Minio
MINIO_ACCESS_KEY=<your-minio-access-key>
MINIO_SECRET_KEY=<your-minio-secret-key>

# PaperDownloader: Notification
## If you don't need to send notification, just leave it blank or any value.
DINGTALK_ACCESS_KEY=<your-dingtalk-access-key>
## You can access https://github.com/yjcyxky/paper-downloader/pkgs/container/paper-downloader for more versions.
PAPER_DOWNLOADER_VERSION=v20230830-f2607a5a
MINIO_SERVER=minio:9000
LABEL_STUDIO_SERVER=label-studio:8080
## You can get the token after you login to Label Studio with the LABEL_STUDIO_USERNAME and LABEL_STUDIO_PASSWORD. After you changed the LABEL_STUDIO_TOKEN, you need to restart the docker-compose.
LABEL_STUDIO_TOKEN=<your-token>
## The interval between each run of syncing accounts from Label Studio to PaperDownloader. The unit is minute.
MINUTES_BETWEEN_RUN=5

# Label Studio
LABEL_STUDIO_USERNAME=<your-username>
LABEL_STUDIO_PASSWORD=<your-password>
## A random string for JWT. You can generate it with `openssl rand -hex 32` or any other ways.
JWT_SECRET_KEY=<your-jwt-secret-key>
## You can get the latest version from https://hub.docker.com/r/nordata/label-studio/tags
LABEL_STUDIO_VERSION=v1.7.3-tgmc-71955400
## You need to change this to your own domain name.
PUBLICATION_MANAGER_SERVER=https://publications.3steps.cn
KNOWLEDGE_GRAPH_SERVER=https://prophetdb.3steps.cn
HELP_DOC_SERVER=https://docs.3steps.cn
JWT_AUTH_COOKIE_DOMAIN=.3steps.cn

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your-postgres-password>
## Don't change this unless you know what you are doing.
POSTGRES_DB=prophet_studio

# BioMedGPS
BIOMEDGPS_VERSION=v0.2.2-7640c3b0
